<form action="/journal_entry/new" method="post">
  <label for="country_name">Country: </label>
    <input type="text" name="country_name" id="country_name">
  <br>
  <label for="city_name">City: </label>
    <input type="text" name="city_name" id="city_name">
  <br>
  <label for="dates">Dates: </label>
    <input type="text" name="arrival_date" id="arrival_date" placeholder="Arrival">
  -  <input type="text" name="arrival_date" id="arrival_date" placeholder="Departure">
  <br>
  <br>
  <br>
  <label for="title">Title:</label>
  <br>
    <input type="text" name="title" id="title">
  <br>
  <br>
  <label for="content">How was your visit?</label>
  <br>
    <textarea id="content" type="text" name="content">

  <input type="submit" value="submit">


</form>
