<%=@entry.title%>

<p><%=@entry.content%></p>


<form action="/journal_entries/<%=@entry.id%>/edit">
  <input type="submit" value="edit">
  </form>
  <form action="/journal_entries/<%=@entry.id%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>
