<h1><%=@entry.title%></h1>

<p><%=@entry.content%></p>


<div class="">
  <form action="/journal_entries/<%=@entry.id%>/edit">
  <input type="submit" value="edit">
  </form>
</div>

<div class="">
  <form action="/journal_entries/<%=@entry.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</div>
