<% if flash.has?(:notice) %>
<h3><%= flash[:notice] %></h3>
<% end %>
<center>
<div class="container">
  <header><img src="https://i0.wp.com/byoneclick.net/wp-content/uploads/2015/04/wanderlust.png?w=500" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>A digital space for memories and shared experiences.</h2>
  </div>
</div>
</center>


  <form action="/login">
    <input type="submit" value="Log In">
  </form>

  <form action="/signup">
    <input type="submit" value="Sign Up">
  </form>



    <h3>Shared Experiences:</h3>
      <ul>
          <%JournalEntry.all.each do |entry|%>
            <li>
                <a href="/journal_entries/<%=entry.id%>">
                <%=entry.title%> - <%=entry.country_name%>
              </a>
            </li>
          <%end%>
      </ul>
